<h1>Number of times a user has been greeted:</h1>
<div class="userCount">

{{#each userCount}}
<p>Hello, <span style="font-weight:bold;">{{@key}}</span> has been greeted <span style="font-weight: bold;">{{this}} time(s)</span></p>

{{/each}}
</div>