<h1>The following users have been greeted:</h1>
<ul class="greetedList">
    {{#if checkObj}}
    {{#each countObj}}
    <li><a href="./counter/{{@key}}">{{@key}}</a></li>
    {{/each}}
    {{else}}
    <p>No users have been greeted</p>
    {{/if}}
</ul>
<p class="backBtn"><a href="/"><i class="fa-solid fa-arrow-left"></i> &nbsp;Homepage</a></p>